{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static 'img/fav.png' %}" type="image/x-icon">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    {% block extra_head %} {% endblock extra_head %}
</head>
<body>

    {% block body %}{% endblock body %}

    {% block extra_body %}{% endblock extra_body %}
</body>
</html>